{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body style="background-color: aqua;">
    <h1>Welcome in home page....</h1>
    <p>Msg is {{greet}}</p>
    <!--<p>{{x}}</p>
    <p>{{y}}</p>-->
    {% comment %}
    {% if x > y %}
        <p>{{x}} is  greater</p>
    {% else %}
        <p>{{y}} is  greater</p>
    {% endif %}
    {% endcomment %}
 <!--for printing lis-->
 <p>list is {{l}}</p>
    {% for x in  l %}
        <P>{{x}}</P>
    {% endfor%}

    <button onclick="demo()">click here</button>
    <img src="{% 'media/image/Apple.jpg' %}">

</body>
</html>