{% extends 'base.html' %}

{% block 'main'%}

{% load static %}

<div class="row mt-3">
    <div class="col-md-4 text-bg-light p-3">
        <h5>Filter by category</h5>
        <hr>
        <p><a class="anchor" href="/catfilter/1">By Mobile</a></p>
        <p><a class="anchor" href="/catfilter/2">By Cloths</a></p>
        <p><a class="anchor" href="/catfilter/3">By Shoes</a></p>
        <h5>Filter by Price</h5>
        <hr>
        <form action="/range">
        <div class="mb-3">
            <div class="mb-3">
                <label for ="Input1" class="form-label">Min_Value:</label>
                 <input type="number" name="min" class="form-control" id="Input1" placeholder="Minimum value">

            </div>
            <div class="mb-3">
                <label for ="Input2" class="form-label">Max_Value:</label>
                 <input type="number" name="max" class="form-control" id="Input2" placeholder="Maximum value">

            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </div>
    

        </form>
        <h5>Sort By Price</h5>
        <hr>
        <p><a class="anchor" href="/sort/0">Low to High</a></p>
        <p><a class="anchor" href="/sort/1">High to Low</a></p>

    </div>


<!--start to add cart-->
<div class="col-md-8">
    <div class="row">
        {% for x in products %}
        <div class ="col -md-4" mt-4>
           
            <div class="cart" style="width: 100%;">
                <img src="{{x.pimage.url}}" height="200px" width="200px">
                <div class="cart-body">
                    <h5 class="cart-title">{{x.name}}</h5>
                    <p class="cart-text">{{x.price}}</p>
                    {% if x.cat == 1 %}
                    <p class="cart-text">Mobile</p>
                    {% elif x.cat == 2 %}
                    <p class="cart-text">Shoes</p>
                    {% else %}
                    <p class="cart-text">Cloths</p>
                    {% endif %}
                    <a href="/pdetails/{{x.id}}" class="btn btn-danger">See details</a>
                </div>
                </div>
                </div>
        {% endfor %}
    </div>
</div>

</div>
{% endblock 'main'%}

